/* Navbar underline */
.underline {
    margin-left: 330px;
    width: 110px;
}

/* Top */
.content .top {
    background: url('../res/comm24.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 2300px;
    margin-top: -50px;

    padding-top: 1px;
    background-attachment: fixed;
}

.content .top .title {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    text-align: center;

    line-height: 50px;
    margin-top: 80px;
}

@media screen and ( min-width: 960px) {
    .content .top {
        background: url('../res/comm24.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        width: 100%;
        height: 350px;
        margin-top: -50px;

        padding-top: 1px;
        background-attachment: fixed;
    }

    .content .top .title {
        font-family: 'Comfortaa', cursive;
        font-size: 60px;
        text-align: center;
        line-height: 300px;

        margin-top: 30px;
    }
}

/* Content */
.contentM {
    width: 100%;
    padding-bottom: 80px;
    background-color: #FAFAFA;
    padding-top: 20px;
    margin-top: -16px;
    z-index: 1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    position: absolute;
    box-shadow: 0px -8px 10px -8px rgba( 0.1, 0.1, 0.1, 0.3);
}

.content .textBox {
    border-radius: 16px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px rgba(0.1,0.1,0.1,0.1);
    width: 76%;
    margin-top: 20px;
    padding-left: 2%;
    padding-right: 2%;

    color: #000000;
}
@media screen and ( min-width: 960px) {
    .content .textBox {
        border-radius: 16px;
        overflow: hidden;
        margin: 0 auto;
        box-shadow: 0px 0px 10px 0px rgba(0.1,0.1,0.1,0.1);
        width: 56%;
        margin-top: 50px;
        padding-left: 2%;
        padding-right: 2%;
    }
}

.content a {
    text-decoration: none;
    cursor: default;
}

.content .link {
    cursor: pointer;
    text-decoration: underline;
}

.contentM .boxTitle {
    text-align: center;
}


/* Sidebar */
.sidebar {
    position: absolute;
    float: left;
    z-index: 100;
    margin-left: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 16%;
    overflow: hidden;

    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba( 0.1, 0.1, 0.1, 0.1);
    background-color: #b8191e;
    font-family: 'Comfortaa', cursive;
    display: none;
}
@media screen and ( min-width: 960px) {
    .sidebar {
        display: block;
    }
}

.sidebarItem {
    border-radius: 16px;
    transition: .2s ease-in-out;
    line-height: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}
.sidebarItem:hover {
    background-color: #b10006;
}

.sidebarItemText {
    padding-left: 5%;
    padding-right: 5%;
    color: #FAFAFA;
}