/* Navbar underline */
.underline {
    margin-left: 220px;
    width: 110px;
}

/* Top box */
.content .top {
    background: url('../res/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 50%;
    height: 230px;
    margin-top: -50px;

    padding-top: 1px;
    background-attachment: fixed;
}


/* Slideshow */
.slideshowBackground, .slideshowForeground {
    width: 100%;
    height: 100%;
    background-position: center; background-size: cover; background-repeat: no-repeat;
    margin: auto;
    margin-top: -50px;
    background-size: cover;
    background-blend-mode: saturation;
}

.previousSlide, .nextSlide {
    position: fixed;
    float: left;
    clear: left;
    text-align: center;
    align-items: center;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 40vh;
    font-size: 10vw;
    width: 3vw;
    height: 3vw;
    padding-top: 0.1vw;
    padding-left: 0.1vw;
    color: #FAFAFA;
    font-weight: bold;
    transition: 0.3s ease;
    z-index: 0;
    border-radius: 50%;
    font-family: 'Concert One', cursive;
    text-shadow: 2px 2px 10px #3c3c3c;
}
.nextSlide {
    right: 10px;
}
.previousSlide:hover, .nextSlide:hover {
    opacity: 1;
    background-color: rgba( 0, 0, 0, 0.4);
}

.slideControlButtons {
    align-items: center;
    float: left;
    clear: left;
    margin-top: -4vw;
    margin-left: 1vw;
    display: none;
}

.dot {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: rgba( 0,0,0,0);
    font-size: 1.5vw;
    padding-bottom: 1vw;
    cursor: pointer;
    height: 0.9vw;
    width: 1.5vw;
    transition: 0.3s ease;
    display: inline-block;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    margin-bottom: 0.2vw;
    border-bottom: 3px solid rgba( 255,255,255,0.3);
}
.dot:hover {
    color: rgba( 255,255,255,0.9);;
    border-bottom: 3px solid rgba( 255,255,255,1);
}

.active {
    border-bottom: 3px solid rgba( 255,255,255,0.9);
}

.cacheImg {
    height: 1px;
    width: 1px;
    display: none;
}

@media screen and ( min-width: 990px) {
    .slideControlButtons {
        display: block;
    }

    .previousSlide, .nextSlide {
        font-size: 2vw;
    }
    .nextSlide {
        right: 0px;
    }
}

/* Title */
.content .titleBox {
    position: fixed;
    width: 100%;
    margin-left: 15%;
    bottom: 35%;
    align-items: center;
    text-align: center;
}

.content .titleBox .title {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color: #FAFAFA;
    text-shadow: 2px 2px 10px #3c3c3c;
}

@media screen and ( min-width: 990px) {
    .content .titleBox {
        position: fixed;
        width: 70%;
        margin-left: 15%;
        bottom: 35vh;
        align-items: center;
        text-align: center;
    }

    .content .titleBox .title {
        font-family: 'Comfortaa', cursive;
        font-size: 5vw;
        color: #FAFAFA;
        text-shadow: 2px 2px 10px #3c3c3c;
    }
}

/* Main Content */
.content .letter {
    width: 100%;
    padding-bottom: 1100px;
    background-color: #FAFAFA;
    padding-top: 20px;
    margin-top: -5px;
    position: relative;
    z-index: 1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba( 0.1, 0.1, 0.1, 0.3);
    text-align: justify;
    font-family: arial, sans-serif;
}

/* Main Content Boxes With VW */
.content .textBox {
    width: 80vw;
    height: 130vw;
    padding-bottom: 2vw;
    margin: 0 auto;
    margin-top: 2vw;
    line-height: 1.5vw;
}

.infoBoxG1 {
    height: 38vw;
    float: left;
    clear: left;
    width: 20%;
    margin-left: 40%;
    margin-top: 2vw;
    margin-right: 2%;
    box-shadow: 0px 0px 10px 0px rgba( 0.1, 0.1, 0.1, 0.1);
    border-radius: 16px;
}

.infoBoxG2 {
    height: 38vw;
    float: left;
    clear: left;
    width: 20%;
    margin-left: 28%;
    margin-top: 2vw;
    margin-right: 2%;
    box-shadow: 0px 0px 10px 0px rgba( 0.1, 0.1, 0.1, 0.1);
    border-radius: 16px;
}

.infoBoxG3 {
    height: 38vw;
    float: left;
    clear: left;
    width: 20%;
    margin-left: 16%;
    margin-top: 2vw;
    margin-right: 2%;
    box-shadow: 0px 0px 10px 0px rgba( 0.1, 0.1, 0.1, 0.1);
    border-radius: 16px;
}

.infoBoxG4 {
    height: 38vw;
    float: left;
    clear: left;
    width: 20%;
    margin-left: 4%;
    margin-top: 2vw;
    margin-right: 2%;
    box-shadow: 0px 0px 10px 0px rgba( 0.1, 0.1, 0.1, 0.1);
    border-radius: 16px;
}

.infoBox {
    height: 38vw;
    float: left;
    width: 20%;
    margin-left: 2%;
    margin-top: 2vw;
    margin-right: 2%;
    box-shadow: 0px 0px 10px 0px rgba( 0.1, 0.1, 0.1, 0.1);
    border-radius: 16px;
}

.subTitle {
    text-align: center;
    float: left;
    clear: left;
    margin-left: 2%;
    width: 96%;
    margin-top: 7vw;
    margin-bottom: 1vw;
    font-family: 'Comfortaa', cursive;
    font-size: 3vw;
}

/* Main Content Info With VW */
.content .textBox .photoContainer {
    height: 30vw;
}

.content .textBox .photo {
    width: 100%;
    border-radius: 16px;
}

.content .textBox .name {
    font-family: 'Comfortaa', cursive;
    font-size: 1.8vw;
    color: #1A237E;
    text-align: center;
    margin-top: 0px;
    height: 5vw;
}

.content .textBox .desc {
    font-family: arial, sans-serif;
    font-size: 1.4vw;
    color: #303030;
    text-align: center;
    margin-top: -3vw;
}